@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #020617;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

::selection {
  background: #06b6d4;
  color: white;
}